* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Fraunces', 'Barlow', serif;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.header{
    margin-bottom: 48px;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: -20px;
}
.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.nav-list-item-link{
    font-family: Barlow;
    font-weight: 700;
    text-decoration: none;
    margin-left: 33px;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    text-transform: uppercase;
}
.nav-list-item-link:hover{
    color: black;
}
.main{
    display: block;
}
.hero-section{
    margin-bottom: 136px;
}
.hero-container{
    width: 100vw;
    background-image: url(../img/coffe.jpg);
    background-size: cover;
    padding: 117px 86px;
    border-radius: 6px;
}
.hero-article{
    width: 493px;
}
.hero-article-text{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
}
.hero-article-subtitle{
    font-family: Barlow;
    font-weight: 400;
    color: #fefcf7cc;
    mix-blend-mode: normal;
    margin: 0 0 56px;
    line-height: 26px;
    font-size: 16px;
}
.hero-article-link{
    font-size: 18px;
    background-color: #66d2cf;
    color: #fefcf7;
    padding: 16px 31px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 6px;
}
.hero-article-link:hover{
    color: black;
    background-color: cyan;
}
.box-container{
    max-width: 1111px;
    background-image: url(../img/bgc-image.png);
    background-repeat: no-repeat
}
.box-list{
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 125px;
    text-align: center;
}
.box-list-item-link{
    text-decoration: none;
    text-align: center;
}
.box-text{
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.box-subtitle{
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    width: 255px;
    color: #333D4B;
}